:root{
    --logo: url('../img/kivach-dark.svg');
    --bg: #161616;
    --logo-color: #252525;
    --block-bg: #252525;
    --menu-active: #161616;
    --title-color: #FFFFFF;
    --welcome-color: #FFFFFF;
    --block-color: #383838;
    --date-color: #ACACAC;
    --input-color: #383838;
    --buses-color: #F0F0F0;
    --buses-active: #383838;
    --last-title: #FFFFFF;
    --birthday-block: #383838;
    --birthday-name: #FFFFFF;
    --new_staff: #383838;
    --welcome-btn: #383838;
    --counter-color: #46C8B6;
    --header-mobile: #161616;
    --logo-mobile: #383838;
    --logo-mobile-img: url("../img/logo-mobile.png");
    --mobile-btn-img: url("../img/icons/scan.svg");
    --input-icon: url('../img/icons/comments-smile-dark.svg');
    --footer-icon-1:url('../img/icons/mail-mobile.svg');
    --footer-icon-2:url('../img/icons/contacts-mobile.svg');
    --footer-icon-3:url('../img/icons/buses-mobile.svg');
    --footer-icon-4:url('../img/icons/eat-mobile.svg');
}